button {
  height:100px;
  width:100px;
}

#main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#root {
  border: 2px solid rgb(238, 11, 11);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#displayBox {
  border: 2px solid black;
  margin: 25px 2vw 35px 2vw;
  padding: 20px 0 20px 5%;
  /* padding: 30px; */
}

#displayValue {
  margin: -12px 0 -12px 0;
  padding: -15px 0 -15px 0;
}

@media(max-width: 600px){
  button {
    height: 80px;
    width: 80px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}




/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */